
x64/

*.spv

*.glb

desktop.ini

vk_generator.py

QiY.vcxproj

QiY.vcxproj.filters

QiY.vcxproj.user

VTune Profiler Results/

miniz.c

miniz.h

spng.c

spng.h

Shaders/bc7toSpv.bat

Shaders/bc7_encode.cs.hlsl
