[submodule "3rdParty/unordered_dense"]
	path = 3rdParty/unordered_dense
	url = https://github.com/martinus/unordered_dense.git
[submodule "HellPack"]
	path = HellPack
	url = https://github.com/Eichenherz/HellPack.git
[submodule "3rdParty/dds"]
	path = 3rdParty/dds
	url = https://github.com/turanszkij/dds.git
[submodule "3rdParty/EASTL"]
	path = 3rdParty/EASTL
	url = https://github.com/electronicarts/EASTL.git
[submodule "3rdParty/EABase"]
	path = 3rdParty/EABase
	url = https://github.com/electronicarts/EABase.git
[submodule "3rdParty/imgui"]
	path = 3rdParty/imgui
	url = https://github.com/ocornut/imgui.git
