
x64/

*.spv

desktop.ini

vk_generator.py

spirv_reflect.c

spirv_reflect.h

diy_pch.h

lz4.c

lz4.h

miniz.c

miniz.h

spng.c

spng.h

cgltf.h

Assets/

.vscode/

README.md

bcn_compressor.cpp

nuklear.h

nuklear.cpp

stb_truetype.h

imgui/
Shader.hlsl

QiY.vcxproj.filters

QiY.vcxproj
