[submodule "3rdParty/unordered_dense"]
	path = 3rdParty/unordered_dense
	url = https://github.com/martinus/unordered_dense.git
[submodule "3rdParty/dds"]
	path = 3rdParty/dds
	url = https://github.com/turanszkij/dds.git
[submodule "3rdParty/EASTL"]
	path = 3rdParty/EASTL
	url = https://github.com/electronicarts/EASTL.git
[submodule "3rdParty/EABase"]
	path = 3rdParty/EABase
	url = https://github.com/electronicarts/EABase.git
[submodule "3rdParty/imgui"]
	path = 3rdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdParty/VulkanMemoryAllocator"]
	path = 3rdParty/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "3rdParty/tinygltf"]
	path = 3rdParty/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "3rdParty/meshoptimizer"]
	path = 3rdParty/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "3rdParty/MikkTSpace"]
	path = 3rdParty/MikkTSpace
	url = https://github.com/mmikk/MikkTSpace.git
[submodule "3rdParty/bc7enc_rdo"]
	path = 3rdParty/bc7enc_rdo
	url = https://github.com/Eichenherz/bc7enc_rdo.git
